<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>Resell Project</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/resell_app.css">
  </head>

  <header>
    <h1>Ebay Resell Tracker</h1>

    <% if session[:error] %>
      <div class="error">
        <%= session.delete(:error) %>
      </div>

    <% elsif session[:success] %>
      <div class="success">
        <%= session.delete(:success) %>
      </div>
    <% end%>

  </header>

  <body>

    <%== yield %>

  </body>

  <footer>
    <h2>Profits Made</h2>

<div id='profit'>
  $12.01
</div>
    <a id='menu' href="/">Main Menu</a>
  </footer>
</html>