<ul>
  <li><a href="/list">List of Items</a></li>
  <li><a href="/add">Add Item</a></li>
  <li><a href="/search">Search for Item</a></li>
  <li><a href="/delete">Delete Item</a></li>
  <li><a href="/update">Update Item</a></li>
  <li><a href="/profit">View Profits</a></li>
</ul>